body {
    font-family: "LXGW WenKai", sans-serif;
    /* Lite version */
    /* font-family: "LXGW WenKai Lite", sans-serif; */
    /* TC version */
    /* font-family: "LXGW WenKai TC", sans-serif; */
    /* Screen version */
    /* font-family: "LXGW WenKai Screen", sans-serif; */
  }

.md-grid {
  max-width: 1450px; 
}
 
h2 {
  color: #00ffff; /* 绿色 */
  font-weight: 900;
}
 
h3 {
  color: #00aeae; /* 蓝色 */
  font-weight: 900;
}
 
h4 {
  color: #007979;
}
/* 以此类推，可以为h4, h5, 和h6设置不同的颜色 */

/* Black Beauty 配色方案：*/
:root > * {
  --md-code-hl-comment-color: #2b7f3b;
  --md-code-bg-color: #0f0420;
  --md-code-hl-operator-color: #f000eb;
  --md-code-hl-number-color: #edd116;
  --md-code-hl-constant-color: #04b6ea;
  --md-code-hl-keyword-color: #f000eb;
  --md-code-fg-color: #ffffff;
  --md-code-hl-punctuation-color: #edd116;
  --md-code-hl-function-color: #ffffff;
}